{% extends 'incl/base.html' %}
{% load static %}

{% block content %}
<div class="content-block title-block">
	<div class="title-text">New question</div>
</div>

<div class="content-block">
	<form action="{% url "ask" %}" method="post">
		{% csrf_token %}
		{% if form.is_valid == False and form.is_bound == True %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>
					{{ form.non_field_errors.0 }} {{ form.title.errors.0 }} {{ form.text.errors.0 }} {{ form.tags.errors.0 }}
				</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}

		<div class="mb-3">
			<label for="" class="form-label">Title</label>
			{{ form.title }}
		</div>
		<div class="mb-3">
			<label for="" class="form-label">Comment text</label>
			{{ form.text }}
		</div>
		<div class="mb-3">
			<label for="" class="form-label">Tags</label>
			{{ form.tags }}
		</div>
		<button class="button" type="sumbit">Aks!</button>
	</form>
</div>
{% endblock content %}