{% extends 'incl/base.html' %}
{% load static %}

{% block content %}
<div class="content-block title-block">
	<div class="title-text">Log in</div>
</div>

<div class="content-block">
	<form action="{% url "login" %}" method="post">
		{% csrf_token %}
		{% if form.is_valid == False and form.is_bound == True %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>
					{{ form.non_field_errors.0 }} {{ form.username.errors.0 }} {{ form.password.errors.0 }}
				</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
		
		<div class="form-floating mb-3">
			{{ form.username }}
			<label for="{{ form.username.id_for_label }}">Login</label>
		</div>
		
		<div class="form-floating mb-3">
			{{ form.password }}
			<label for="{{ form.password.id_for_label }}">Password</label>
		</div>

		<button type="sumbit" class="button">Log in!</button>
	</form>
</div>
{% endblock content %}